<!DOCTYPE html>
<html lang="en">
<head>
				<link rel="stylesheet" type="text/css" href="../static/css/style.css" ></link>
				<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=no"
				<meta charset="UTF-8">
				<title>WEBDAV</title>
				<script> src="../static/javascript/index.js"</script>
</head>

<body>
				<div class="header" id="myHeader">
				<h1
 id="site--banner">WEBDAV SERVER</h1>
				<h4 id="device"><i>RMX2050</i></h4>
				</div>
				<div class="container">
				<a id="site--browse"href="/files">
				<img id="browse-icon"src="../static/icons/file.png" alt=""><b>Browse Files On This Device</b></a>
				<h4></h4>
				<a id="site--upload" href="uploader"><img id="upload-icon" src="../static/icons/upload.png" alt=""><h><b>Upload To Device</b></h></a><br><br>
				<h2><u>About This Webpage</u></h2>
				<p> THIS IS A WEBDAV INTERFACE BUILD USING PYTHON'S FLASK FRAMEWORK, AND OFFCOURSE THE TRIO- HTML, CSS & JS.
				THIS WEBSITE IS IN PRODUCTION SO ONLY THE BROWSE, UPLOAD AND DOWNLOAD FEATURES ARE FUNCTIONAL.
				</p>
				</div>
				<div class="footer">
								<p  id="site--footer">
								<b>Made With ❤️ Using Flask</b>
								<br>
								<u><i id="CR">©Copyright 2002-2021 Aditya.<br>All Rights Reserved.</i></u>
								</p>
				</div>
</body>
</html>
