<!DOCTYPE html>
<html lang="en">
<head>
				<link rel="stylesheet" type="text/css" href="../static/css/style.css" ></link>
				<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=no">
				<meta charset="UTF-8">
				<title>WEBDAV</title>
				<script> src="../static/javascript/index.js"</script>
				<title>WEBDAV - Upload</title>
</head>
<body>
				<div class="header" id="myHeader">
				<h1
 id="site--banner">WEBDAV SERVER</h1>
				<h3 id="device">DEVICE: <i>RMX2050</i></h3>
				</div>
				<div class="container">
				<form action = "/uploader" method = "POST" enctype = "multipart/form-data">
         <input id="choosefile" type = "file" name = "file" />
         <br>
         <input id="submit" type = "submit" value = "Submit" />
      </form>
      </div>
      <div class="footer">
								<p  id="site--footer">
								<b>Made With ❤️ Using Flask</b>
								<br>
								<u><i id="CR">©Copyright 2002-2021 Aditya.<br>All Rights Reserved.</i></u>
								</p>
				</div>
</body>
</html>
